.chat-view {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-header-left {
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 0;
    flex: 1;
}

.back-btn {
    display: none;
    cursor: pointer;
    font-size: 20px;
}

.chat-view-container {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.chat-view {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: margin-right 0.3s cubic-bezier(0.1, 0.7, 1.0, 0.1);
}



.chat-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
}

.chat-status {
    font-size: 11px;
    color: var(--wa-primary);
    margin-top: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pointer {
    cursor: pointer;
}

.message-content {
    display: flex;
    flex-direction: column;
}

.send-btn {
    background: none;
    border: none;
    color: var(--wa-icon);
    font-size: 20px;
    cursor: pointer;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .back-btn {
        display: block;
    }
}